<!doctype html>
<!-- Begin template layout.html -->
{% macro with_errors(field) %}
    <div class="form_field">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}
<title>SKMF</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<div class=page>
  <h1>{{ title }}</h1>
  <div class=metanav>
    <a href="/">Home</a>
    {# <a href="{{ url_for('show_entries') }}">Entries</a> #}
    <a href="{{ url_for('show_tags') }}">Resources</a>
    {% if current_user.get_id() == 'admin' %}
      <a href="{{ url_for('add_user') }}">Users</a>
    {% endif %}
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
<!-- End template layout.html -->
