{% extends "layout.html" %}
{% block body %}
  <!-- Begin body block in template show_tags.html -->
  {% if current_user.is_authenticated %}
    <form action="{{ url_for('add_tag') }}" method=post class=add-entry>
      <dl>
        <dt>{{ form.label.label }}
        <dd>{{ with_errors(form.label) }}
        <dt>{{ form.description.label }}
        <dd>{{ with_errors(form.description) }}
        <dd>{{ form.submit }}
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries['results']['bindings'] %}
    <li><h2>{{ entry['label']['value'] }}</h2>{{ entry['description']['value'] }}
  {% else %}
    <li><em>Unbelievable. No tags here so far.</em>
  {% endfor %}
  </ul>
  <!-- End body block in template show_tags.html -->
{% endblock %}
