{% extends "layout.html" %}
{% block body %}
  <!-- Begin body block in template show_users.html -->
  {% if current_user.is_authenticated %}
    <form action="{{ url_for('show_users') }}" method=post class=add-entry>
      {{ form.hidden_tag() }}
      <dl>
        <dt>{{ form.username.label }}
        <dd>{{ form.username }}
        <dt>{{ form.password.label }}
        <dd>{{ form.password }}
        <dd>{{ form.confirm }}
        <dd>{{ form.submit }}
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {#% for entry in entries['results']['bindings'] %}
    <li><h2>{{ entry['label']['value'] }}</h2>{{ entry['description']['value'] }}
  {% else %}
    <li><em>Unbelievable. No tags here so far.</em>
  {% endfor %#}
  </ul>
  <!-- End body block in template show_users.html -->
{% endblock %}
