{% extends "layout.html" %}
{% block body %}
  <!-- Begin body block in template users.html -->
  {% if current_user.is_authenticated %}
    <form action="{{ url_for('add_user') }}" method=post class=add-entry>
      {{ form.hidden_tag() }}
      <dl>
        <dt>{{ form.username.label }}
        <dd>{{ with_errors(form.username) }}
        <dt>{{ form.password.label }}
        <dd>{{ with_errors(form.password) }}
        <dd>{{ with_errors(form.confirm) }}
        <dd>{{ form.submit }}
      </dl>
    </form>
  {% endif %}
  <!-- End body block in template users.html -->
{% endblock %}
