{% extends "layout.html" %}
{% block body %}
  <!-- Begin body block in template welcome.html -->
  <h2>Welcome to SKMF</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div>
      <p>Use the menu in the upper right to select a page to work from. You may
        make queries in the "Resources" section without logging in. You will be
        able to add new data through the "Resources" page if you are logged in.
        For further help, please see the documentation in the source code.</p>
    </div>
  <!-- End body block in template welcome.html -->
{% endblock %}
